body {
  background-color: #050618;
  background: linear-gradient(to right, #050618, #161731);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 40px;
}

.menu .contenido-superior {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.menu .logo img,
.menu .titulo img {
  max-height: 100px;
  display: block;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Mostrar horizontalmente */
  gap: 20px;
  justify-content: center;
}

.menu ul li a {
  text-decoration: none;
  color: #7300ff;
  font-weight: bold;
}

.menu ul li a:hover {
  color: #ff0d00;
}

.menu h1 {
  font-size: 25px;
  color: #ffffff;
  margin-top: 20px;
}


.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.galeria img {
  width: 100%;
  height: 200px;
  border: 2px solid #ccc;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.03);
  border-color: #37005f;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
}

.lightbox .cerrar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.pie { 
  color: white; 
  text-align: center; 
  padding: 20px; 
  font-size: 14px; 
}

/* CONTENEDOR PRINCIPAL */
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.recuadro-contacto {
  background-color: #0e0f2a;
  border: 2px solid #4b44ac;
  border-radius: 12px;
  padding: 30px;
  margin: 40px auto;
  max-width: 400px;
  text-align: left;
  box-shadow: 0 0 20px rgba(75, 68, 172, 0.3);
}

.recuadro-contacto p {
  display: flex;
  align-items: center; 
  gap: 10px;            
  margin: 10px 0;
}

.recuadro-contacto .icono {
  width: 24px;
  height: auto;
  flex-shrink: 0;       
}

.recuadro-contacto a {
  color: #4b44ac;
}

.recuadro-contacto a:hover {
  color: #ff0d00;
}

/* VIDEO */
.video-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.sobre {
  background-color: #0e0f2a;
  border: 2px solid #4b44ac;
  border-radius: 12px;
  padding: 30px;
  margin: 40px auto;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(75, 68, 172, 0.3);
  text-align: left;
}

.sobre h2 {
  font-size: 15px;
  margin: 20px;
  letter-spacing: 1.5px;
}

.sobre img {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.Ko-fi {
  font-size: 25px;
  margin: 20px auto 60px auto;
  max-width: 800px;
  text-align: left;
}

.Ko-fi a {
  color: #4b44ac;
  text-decoration: none;
}

.Ko-fi a:hover {
  color: #ff0d00;
  text-decoration: none;
}

.Ko-fi img {
  display: block;
  width: 60%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  transition: transform 0.3s ease;
}

.Ko-fi img:hover {
  transform: scale(1.03);
  border-color: #ff0d00;
}

article {
  display: block;
  background-color: #0e0f2a;
  border: 2px solid #4b44ac;
  border-radius: 12px;
  padding: 30px;
  margin: 40px auto;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(75, 68, 172, 0.3);
  text-align: left;
}


article .header-flex {
  display: flex;
  align-items: center;     
  gap: 15px;              
  margin-bottom: 20px;
}

article h2 {
  margin: 0;
  padding: 0;
  text-align: left;
}

article h3 {
  color: #ff0d00;
  font-size: 15px;
  margin: 0;
  text-align: left;
}

article p {
  text-align: left;
  margin: 0;
  white-space: pre-line;
  padding-top: 20px;
  padding-bottom: 20px;
}

article a {
  color: #4b44ac;
  text-decoration: none;
}

article a:hover {
  color: #ff0d00;
  text-decoration: none;
}

form {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

#postsContainer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.post {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
